$box-width:1350px;
$section-width:1240px;
$market-fontsize-12:12px;
$market-fontsize-14:14px;
$market-fontsize-15:15px;
$market-fontsize-18:18px;
$market-fontsize-20:20px;
$login-fontsize:26px;
$hover-color:#23ac38;
$fontsize-color:red;
$hot-margin-left:20px;
$li-margin-left:10px;